
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root{
--cor-de-fundo:#635959;
--texto1:#ffffff;
--texto2:#ffffff;
--botao-ativo:33a375e;
--botao-inativo:rgba(58,55,94,0.5);
--texto-fundo:rgba(58,55,94,0.3);
}
body{
    background-color:var(--cor-de-fundo);
    color: var(--texto1);
    font-family: "Permanent Marker", cursive;

}

.botao{
    background-color: #ffffff;
    font-family: "Permanent Marker", cursive;
    font-size: 45px;
text-align: center;
border-radius: 20px;
display: flex
color:var(--texto1);
}

.conteudo-principal{
display:flex;
flex-direction:column;
justify-content: center;
align-items: center;
max-width: 100%;
margin:0 auto;

}
.titulo-principal{
text-align:left ;
width: 100%;
font-size: 50px;
}