
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root{
--cor-de-fundo:#635959;
--texto1:#ffffff;
--texto2:#ffffff;
--botao-ativo:rgba(70, 70, 73, 0.5);
--botao-inativo:rgba(58,55,94,0.5);
--texto-fundo:rgba(58,55,94,0.3);
}
body{
    background-color:var(--cor-de-fundo);
    color: var(--texto1);
    font-family: "Permanent Marker", cursive;

}

.botao{
    background-color: #ffffff;
    font-family: "Permanent Marker", cursive;
    font-size: 45px;
    text-align: center;
    border-radius: 20px;
    display: flex;
    color: var(--texto1);
}

.conteudo-principal{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin:0 auto;

}

.titulo-principal{
    text-align:left ;
    width: 100%;
    font-size: 50px;
}

.botao{
    font-family: "permanent maker" , sans-serif;
    background-color: var(--botao-inativo);
    display: flex;
    color: var(--texto1);
    justify-content: center;
    padding: 1em;
    font-size: 25px;
    align-items: center;
    width: 110%;
}

.aba-texto{
   background-color: var(--texto-fundo);
   padding: 20px;
   border-radius: 0 0 20px 20px;
}
