
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root{
--cor-de-fundo:#635959;
--texto1:#ffffff;
--texto2:#ffffff;
--botao-ativo:rgba(70, 70, 73, 0.5);
--botao-inativo:rgba(58,55,94,0.5);
--texto-fundo:rgba(58,55,94,0.3);
}
body{
    background-color:var(--cor-de-fundo);
    color: var(--texto1);
    font-family: "Permanent Marker", cursive;

}

.botao{
    background-color: #0c0909;
    font-family: "Permanent Marker", cursive;
    font-size: 45px;
text-align: center;
border-radius: 20px;
display: flex;
color:var(--texto1);
}

.conteudo-principal{
display:flex;
flex-direction:column;
justify-content: center;
align-items: center;
max-width: 100%;
margin:0 auto;

}
.titulo-principal{
text-align:left ;
width: 100%;
font-size: 50px;
}

.botao{
font-family: "permanent maker" , sans-serif;
background-color: var(--botao-inativo);
display: flex;
color: var(--texto1);
justify-content: center;
padding: 1em;
font-size: 25px;
align-items: center;
width: 110%;
}

.botoes{
     display: flex;    
}

.botao.ativo{
    background: var(--botao-ativo);    
    border-bottom: 4px solid #4b4a4a;
}  
.aba-conteudo.ativo{
display: block;
}  
.aba-conteudo{
display:none;

}

.aba-conteudo-titulo-principal{
font-size: 40px;
text-align:center;
}
.aba-conteudo-titulo-secundario{
color:var(--texto1);

}
.contador{
   font-size: 65px;
   text-align: center;
   padding: 1em;

}
